.divColum{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.divContentItem{
    margin-left: 10%;
    width: 280px;
    font-size: 24px;
    height: 80px;
    background-color: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divContentItemSelected{
    margin-left: 10%;
    width: 280px;
    font-size: 24px;
    height: 80px;
    background-color: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 2px #547FEF;
    transition: background-color 1s ease-in-out;
}

.divBodyResume{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:8% 0 8% 0;
}

.divBodyResumeRow1{
    padding:10% 0 10% 5%;
    width: 50%;
    background-color: #FFCA0E;
    /*background-image: url('../../public/images/dog.png'); 
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.divBodyResumeRow2{
    padding:10%;
    width: 50%;
    text-align: justify;
}

.divBodyResumeSkills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:10% 0 10% 0;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:8% 0 8% 0;
}

.divBodyResumeSkillsRow{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}




.divBodyCareer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:8% 0 8% 0;
}

.divBodyCareerRow1{
    padding:10% 0 10% 5%;
    width: 50%;
    text-align: justify;
}

.divBodyCareerRow2{
    padding:10% 0 10% 5%;
    width: 50%;
    background-color: #547FEF;
    color: white;
}

.divAcademicTitle{
    font-size: 30px;
    margin-bottom: 3%;
}

.divAcademicTitle2{
    font-size: 30px;
    color:#FFCA0E;
    margin-bottom: 3%;
}



/* Estilos para dispositivos medios (opcional) */
@media only screen and (max-width: 900px) {
    
    .divBodyResumeSkills{
        flex-direction: column;
    }

    .divBodyCareer{
        flex-direction: column;
    }
    .divBodyCareerRow1{
        padding:10%;
        width: auto;
    }
    
    .divBodyCareerRow2{
        padding:10%;
        width: auto;
    }

}

/* Estilos para dispositivos grandes (opcional) */
@media only screen and (max-width: 600px) {
  
    
.divBodyResume{
    flex-direction: column;
}
  
.divBodyResumeRow1{
    padding:10% 5% 10% 5%;
    width: auto;
    min-height: 300px;
}

.divBodyResumeRow2{
    padding:10% 5% 10% 5%;
    width: auto;
}
.divBodyResumeSkills{
    display: flex;
    flex-direction: column;
}

}