
*{
  margin:0px;
}

@font-face {
  font-family: 'InriaSans';
  src: url('/InriaSans-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: 'InriaSans', sans-serif;
}

.divPrincipal{
  min-height: 100vh;
  background-color: #292929;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap:36px;
}

.divContentPerson{
  margin-top:8%;
  padding-top: 3%;
  padding:0 10% 5% 10%;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.divContentBody{
  margin-top:8%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  gap:20px;
}


.divTitle1,
.divTitle2,
.divTitle3,
.divTitle4 {
  transition: font-size 1s ease; /* Adiciona uma transição suave para mudanças no tamanho da fonte */
}

.divTitle1{
  font-size: 150px;
}

.divTitle2{
  font-size: 100px;
  color:#FFCA0E;
}

.divTitle3{
  font-size: 80px;
}

.divTitle4{
  font-size: 60px;
  color:#444242;
}


.divContentContact{
  margin:8% 0 8% 0;
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: column;
  gap:20px;

}
.divContentContactItem{
    width: 280px;
    font-size: 36px;
    height: 80px;
    display: flex;
    align-items: center;
    color:#FFCA0E;
}

/* Estilos para dispositivos grandes (opcional) */
@media only screen and (max-width: 1360px) {
  
  .divTitle1{
    font-size: 110px;
  }

  .divTitle2{
    font-size: 70px;
  }

  .divTitle3{
    font-size: 50px;
  }

  .divTitle4{
    font-size: 40px;
  }

}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 600px) {
  .divTitle1{
    font-size: 50px;
  }
  
  .divTitle2{
    font-size: 40px;
    color:#FFCA0E;
  }
  
  .divTitle3{
    font-size: 25px;
  }
  
  .divTitle4{
    font-size: 20px;
  }
  
}
