.divColum{
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: max-height 0.5s ease;
}


.divContentItem{
    margin-left: 10%;
    width: 280px;
    font-size: 24px;
    height: 80px;
    background-color: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.divContentItemSelected{
    margin-left: 10%;
    width: 280px;
    font-size: 24px;
    height: 80px;
    background-color: #444242;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid 2px #547FEF;
    transition: background-color 1s ease-in-out;
}


.hiddenBodyResumeRow1, .hiddenBodyResumeRow2, .hiddenBodyResume {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}


.divBodyResume{ 
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:2% 0 2% 0;
    transition: max-height 0.5s ease;
}

.divBodyResumeRow1{
    opacity: 1;
    padding:5% 10%;
    width: 50%;
    background-color: #FFCA0E;
    /*background-image: url('../../public/images/dog.png'); 
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir toda a div */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
}

.divBodyResumeRow2{
    opacity: 1;
    padding:5% 10%;
    width: 50%;
    text-align: justify;
}

.hiddenBodyResumeSkills, .hiddenBodyResumeSkillsRow{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.divBodyResumeSkills{
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap ;
    align-items: center;
    gap: 40px;
    padding:8% 0 8% 0;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:2% 0 2% 0;
}

.divBodyResumeSkillsRow{
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}


.hiddenBodyCareer{
    opacity: 0;
    transition: opacity 2s ease-in-out;
}


.divBodyCareer{
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: white;
    color: #444242;
    transition: opacity 1s ease-in-out;
    margin:2% 0 2% 0;
    align-items: center;
}

.divBodyCareerRow1{
    display: flex;
    flex-direction: column;
    padding:4% 10%;
    width: 65%;
    text-align: justify;
    gap:20px;
}

.divBodyCareerRow2{
    padding:5% 10%;
    background-color: #547FEF;
    width: 35%;
    color: white;
}


.divAcademicRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
}

.divAcademicTitle{
    font-size: 30px;
    margin-bottom: 3%;
    transition: opacity 1s ease-in-out;
}

.divAcademicTitle2{
    font-size: 30px;
    color:#FFCA0E;
    margin-bottom: 3%;
    transition: opacity 1s ease-in-out;
}



/* Estilos para dispositivos medios (opcional) */
@media only screen and (max-width: 900px) {
    .divBodyCareer{
        flex-direction: column;
    }
    .divBodyCareerRow1{
        padding:10%;
        width: auto;
    }
    
    .divBodyCareerRow2{
        padding:10%;
        width: auto;
    }
    
    
    .divBodyResumeRow1{
        display: none;
        padding:10%;
        width: auto;
        min-height: 300px;
    }

    .divBodyResumeRow2{
        padding:10%;
        width: auto;
    }
}